/* Style Sheet*/
body{
	background-color:#4FC3C7;
  text-align: center;
  font-family: 'Lexend Deca', sans-serif;
  color: black;
  font-size: 20px;
}

.heading{
  color: black; 
  Font-family: 'Bangers', cursive;
}

.last-seconds{
  color:#e32426; 

.option{
  margin: 15px;
}

#remaining-time{

  color: black; 
}
#options{

 margin: 20px;
}
