/* Backgrounds */
body{
	background-color:#4FC3C7;
  text-align: center;
  font-family: 'Bangers', cursive;
  color: black;
  font-size: 40px;
}

.heading{
  color: black; 
}

.last-seconds{
  color:#e32426; 

.option{
  margin: 15px;
}

#remaining-time{

  color: black; 
}

